
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <h1>Index</h1>
    <img src="/Product/ImageUrl" alt="Redis Cache'ten Görsel" />
</body>
</html>
